<div class="banner">
  <div class="banner-inner">
    <div class="item">
      <img src="/assets/library.jpg" alt="">
      <div class="container">
        <div class="banner-caption">
          <h1>Doing your homework</h1>
          <p class="lead">So you know a little about <%= APP_NAME %> but we need to tick some more boxes for you. Not only do we offer a great tool to help your everyday life, we also take security seriously and let your express your personality.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container features">
  <div class="content">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Build for you</a></li>
        <li><a href="#tab2" data-toggle="tab">Big personality</a></li>
        <li><a href="#tab3" data-toggle="tab">Stay in control</a></li>
        <li><a href="#tab4" data-toggle="tab">Safe &amp; secure</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <h3>Work anywhere, from any device</h3>
          <img class="img-rounded featurette-image pull-right" data-src="holder.js/200x140" alt="">
          <p>We know you're always on the go, so you'll be happy to know you can access your journals wherever you are.</p>
          <hr/>
          <h3>Add entries via email</h3>
          <img class="img-rounded featurette-image pull-right" data-src="holder.js/200x140" alt="">
          <p>
            We make it incredibly easy to add notes to your childen's journals. With <%= APP_NAME %> you can submit notes and photos by email and tidy things up when you get back to your desk.
          </p>
        </div>
        <div class="tab-pane" id="tab2">
          <h3>Themes to match their personalities</h3>
          <img class="img-rounded featurette-image pull-right" data-src="holder.js/200x140" alt="">
          <p>Every child is different so we let you choose themes for your journals. Maybe they like cars, maybe windsurfing! Whatever their personality we have a theme to match.</p>
          <hr/>
          <h3>Add your own touches</h3>
          <img class="img-rounded featurette-image pull-right" data-src="holder.js/200x140" alt="">
          <p>
            Themes are great, but you want to make things extra special. We let you add custom sparkling touches to make your journals really stand out.
          </p>
        </div>
        <div class="tab-pane" id="tab3">
          <h3>Accounts to fit your organisation</h3>
          <img class="img-rounded featurette-image pull-right" data-src="holder.js/200x140" alt="">
          <p>
            If you're a headmaster or run a big nursery you'll need your staff to be able to get on with the every day work, but you'll still want to stay in control.
          </p>
          <p>
            We let you create and revoke accounts for your staff, set up classes and groups, and set permissions just how you like them.
          </p>
          <hr/>
          <h3>Publish when you want to</h3>
          <img class="img-rounded featurette-image pull-right" data-src="holder.js/200x140" alt="">
          <p>
            With <%= APP_NAME %> you can add entries to your diaries at any time. However, you want to stay in control of when journals are published to parents. We let you choose whether to publish new entries immediately, weekly, monthly or as often as you like.
          </p>
        </div>
        <div class="tab-pane" id="tab4">
          <h3>Secure access</h3>
          <img class="img-rounded featurette-image pull-right" data-src="holder.js/200x140" alt="">
          <p>
            We have implemented a high security account system that keeps your data safe. All access is over HTTPS keeping data from prying eyes.
          </p>
          <hr/>
          <h3>Safe-harbour Accredited</h3>
          <img class="img-rounded featurette-image pull-right" data-src="holder.js/200x140" alt="">
          <p>
            Our hosting has been accredited by ..., as recommended by the Department of Education.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>



