// Place all the styles related to the account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-box
{
  margin: 10em auto;
  width: 40em;
}

.box-title
{
	margin:0;
	font-size: 2em;
	text-indent: 0.5em;
}