/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.freetrial
{
	color: #0088cc !important;
}

.freetrial:hover
{
	color: #f9a732 !important;
}

.fg-white
{
  color: #fff;
}

.bg-orange
{
  background-color: #f9a732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB450', endColorstr='#FFF89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-login {
  color: white !important;
  text-shadow: none !important;
  border: none !important;
  width: 50px;
  text-align: center;
}

label, input[type="text"], textarea, input[type="password"]
{
  font-size: 1.4em;
  width: 97%;
}

.photo-placeholder
{
  background: #efefef;
  display: block;
  width: 9em;
  height: 9em;
  border: solid 1px #999;
  font-size: 2em;
  margin: 1em 0;
  border-radius: 1em;
  line-height: 9em;
  text-align: center;
}

a.filled
{
  color: #fff !important;
}

.photo-placeholder img
{
  width: 9em;
  height: 9em;
  border-radius: 1em;
  margin: 0;
}

.photo-placeholder:hover
{
  background: #efefef;
  color: #0088cc;
}

.table img
{
  width: 100px;
  height: 100px;
}

.title-and-actions
{
  position: relative;
  margin-bottom: 3em;
}

.top-right
{
  top: 0;
  right: 0;
  position: absolute;
}

/* New design */

.sidebar
{
  width: 16em;
  padding: 0;
  float: left;
  min-height: 900px;
  height: 900px;
}

.logo
{
  width: 100%;
  float: left;
}

.sidenav
{
  background-color: #eee;
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

.sidenav li
{
  list-style-type: none;
  font-size: 1.4em;
  padding: 0.3em 0.3em 0.3em 1.2em;
  margin: 1.2em 0;
}

.sidenav li a
{
  list-style-type: none;
  color: #888;
}

.sidenav li a:hover
{
  color: #333;
  text-decoration: none;
  background-color: transparent;
}

.label-heading
{
  color: #333;
}

.pagecontent
{
  padding: 2em 1em;
}

.table.child-list p
{
  font-size: 1.2em;
  color: #999;
}

.table.child-list td
{
  padding-top: 1em;
  padding-bottom: 2em;
}

.child-list img
{
  border-radius: 6em;
  width: 130px;
  height: 130px;
}

.child-list td:nth-child(1) {
  width: 140px;
}

.child-list td:nth-child(2) {
  width: 250px;
}

.child-list td:nth-child(3) {
  width: 500px;
}

.child-list ul li
{
  margin-bottom: 0.6em;
}

.child-list ul a
{
  width: 80%;
}

.pagecontent a.button, .pagecontent a.button:visited, .pagecontent input[type="submit"]
{
  font-size: 15px;
  color: white;
  display: inline-block;
  background-color: #999;
  border-radius: 0.3em;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.pagecontent a.button
{
  padding-top: 0.5em;
  padding-bottom: 0.6em;
}

.pagecontent input[type="submit"]
{
  background-color: #ff7c0d;
  border: none;
  line-height: 2em;
}

.pagecontent a.button:hover
{
  color: white;
  text-decoration: none;
  background-color: #ff7c0d;
}

.pagecontent a.button-danger
{
  background-color: #ddd !important;
}

.pagecontent a.button-danger:hover
{
  background-color: #ff7c0d !important;
}

a[tooltip]:link, a[tooltip]:visited {
  position: relative;
  text-decoration: none;
  border-bottom: solid 1px;
}

a[tooltip]:before {
  content: "";
  position: absolute;
  border-top: 20px solid #0090ff;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  visibility: hidden;
  top: -18px;
  left: -26px;
}

a[tooltip]:after {
  content: attr(tooltip);
  position: absolute;
  color: white;
  top: -35px;
  left: -26px;
  background: #0090ff;
  padding: 5px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  white-space: nowrap;
  visibility: hidden;
}

a[tooltip]:hover:before, a[tooltip]:hover:after {
  visibility: visible;
  -moz-transition: visibility 0s linear .3s;
}

.hidden
{
  display: none;
}

.field select
{
  width: 10.5em;
}

.field textarea
{
  width: 97%;
  height: 140px;
}