
<% content_for :head do %>
  <style>
    body { padding-top: 60px }
  </style>
<% end %>

<% content_for :content do %>
  <header class="navbar navbar-inverse navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
        <%= render 'layouts/navigation' %>
      </div>
    </nav>
  </header>
  <div id="main" role="main">
    <div class="container">
      <div class="content">
        <% if(notice) %>
          <div class="alert"><%= notice %></div>
        <% end %>
        <%= yield %>
      </div>
    </div> <!--! end of .container -->
  </div> <!--! end of #main -->
<% end %>
<%= render template: "layouts/application" %>
